/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f8f8;
	position: relative;
}

a {
	text-decoration: none;
}
.wraper {
	width: 100%;
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
}

/*.header {
	width: 100%;
}

.header__wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 40px;
	padding: 0 5px;
}

.header_blue {
	background-color: #30415d;
}

.header__status {
	color: #ffffff;
	font-weight: bold;
	line-height: 30px;
}

.profile__edit {
	display: none;
	line-height: 30px;
	color: #999;
}
.header__profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	align-items: center;
	height: 100%;
	cursor: pointer;
}
.header__profile:hover {
	background-color: #294777;
}
.header__profile:hover .profile__settings {
	width: 20px;
}
.header__profile:hover .settings-dot {
	border-radius: 15px;
	height: 2px;
	width: 100%;

}
.profile__img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.profile__img_small {
	border-radius: 40%;
	margin:0 12px;
	height: 30px;
	width: 30px;
}
.profile__settings {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	height: 30px;
	margin-right: 10px;
	width: 5px;
	transition: width .3s ease-in-out;
}
.profile__nav {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 40px;
	z-index: 2;
	right: 0;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #c5d0db;
	padding: 5px 0; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	transition: opacity .2s ease-in-out,top .2s ease-in-out,visibility .2s ease-in-out;
}
.profile__nav.visible {
	visibility: visible;
	opacity: 1;
	top: 50px;
}
.nav-link {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	font-size: 15px;
	color: #2a5885;
	white-space: nowrap;
	text-decoration: none;
}
.nav-link:hover {
	background-color: #e4eaf0;
}
.nav-link__line {
	color: #dbe4ec;
	width: 80%;
	margin: 5px auto;
}
.profle__wraper {
	overflow: hidden;
	position: relative;
}
.profle__wraper:hover .edit__img {
	height: 40px;
}
.edit__img {
	background-color: rgba(0,0,0,.6);
	height: 0px;
	width: 100%;
	position: absolute;
	bottom: 4px;
	-webkit-transition: height .4s ease;
	-o-transition: height .4s ease;
	transition: height .4s ease;
}
.edit-photo-tool {
	display: block;
	float: right;
	padding: 10px;
}
.settings-dot {
	display: block;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border-radius: 50%;
	transition: width .3s ease-in-out;
	transition-delay: .1s;
} */
.content {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 10px 33%;
	grid-template-columns: 1fr 33%;
	grid-gap: 10px;
}

.block_rounded_mt {
	border-radius: 10px;
	border: 1px solid #eaeaea;
	margin-top: 12px;
}

.profile__info {
	background-color: #fff;
	padding: 25px 12px;
}

.profile__description {
	margin: 25px 0px;
	max-height: 50px; 
	overflow: hidden;
}
.profile__properties {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 33% 1fr;
	grid-template-columns: 33% 1fr;
	grid-row-gap: 15px; 
}
.profile__prop {
	color: #999;
}
.profile__properties_hidden {
	-ms-grid-column-span: 2;
	grid-column: span 2 / auto; 
}
.zodiac__img {
	width: 20px;
	height: 18px;
	-o-object-fit: cover;
	object-fit: cover;
}

.hide-props {
	color: #729ee6;
	cursor: pointer;
}
.hide-props:hover {
	color: #30415d;
}

.gallery {
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 11px;
}

.wall {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	padding: 11px;
}
.wall__post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}
.post__creator {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 55px 12px 1fr;
	grid-template-columns: 55px 1fr;
	grid-column-gap: 12px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.creator__photo_rounded {
	-ms-grid-row-span: 2;
	grid-row: span 2 / auto;
	width: 55px;
	height: 55px;
	-o-object-fit: cover;
	object-fit: cover;
}
.creator__name {
	color: #30415d;
}
.creator__activity {
	color: #999;
}
.post__remove {
	display: block;
	cursor: pointer;
}
.post__content {
	width: 100%;
	margin-top: 10px;
}
.post__text {
	margin: 10px 0;
}
.post__img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.profile__photo {
	background-color: #fff;
	width: 100%;
	padding: 11px;
}

.nav-links {
	padding: 11px;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.nav-item {
	width: 33%;
	cursor: pointer;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.nav-item__img {
	width: 55px;
	height: 55px;
	border: 1px solid #eaeaea;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.icon_blue {
	max-height:24px;
	max-height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.message-feed {
	background-color: #fff;
	padding: 11px;
}
.message-feed__title {
	font-size: 16px;
	color: #999;
}

.message-feed__messages {
	margin-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.message {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 30px 10px 1fr;
	grid-template-columns: 30px 1fr;
	grid-column-gap: 10px;
	position: relative;
	margin-bottom: 15px;
}

.message-author__img {
	-ms-grid-row-span: 2;
	grid-row: span 2 / auto; 
	width: 30px;
	height: 30px;
}
.message__time {
	color: #999;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
}
.message-author__name {
	color: #30415d;
	font-size: 16px;
}
.message__text {
	font-size: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
